/**
 * Design system - primitive colors (light)
 * Source: lib/design-tokens/primitive.json
 */
:root {
  --kitkat-purple-50: #F5EFFFFF;
  --kitkat-mint-50: #E6FEFFFF;
  --kitkat-mint-100: #C4FBFFFF;
  --kitkat-mint-200: #99F7FFFF;
  --kitkat-mint-300: #6DF3FFFF;
  --kitkat-mint-400: #34EDF5FF;
  --kitkat-mint-500: #00E7EFFF;
  --kitkat-mint-600: #00C9D6FF;
  --kitkat-mint-700: #0097A1FF;
  --kitkat-mint-800: #006A71FF;
  --kitkat-mint-900: #003A3EFF;
  --kitkat-purple-100: #EAD9FFFF;
  --kitkat-purple-200: #D8B8FFFF;
  --kitkat-purple-300: #C697FFFF;
  --kitkat-purple-400: #BB78FFFF;
  --kitkat-purple-500: #B043FFFF;
  --kitkat-purple-600: #912DE6FF;
  --kitkat-purple-700: #7420C0FF;
  --kitkat-purple-800: #581894FF;
  --kitkat-purple-900: #3E0E68FF;
  --common-black: #000000FF;
  --common-white: #FFFFFFFF;
  --neutral-50: #FAFAFAFF;
  --neutral-light-96: #FFFFFFF5;
  --neutral-light-90: #FFFFFFE5;
  --neutral-light-72: #FFFFFFB8;
  --neutral-light-56: #FFFFFF8F;
  --neutral-light-48: #FFFFFF7A;
  --neutral-light-24: #FFFFFF3D;
  --neutral-light-16: #FFFFFF29;
  --neutral-light-8: #FFFFFF14;
  --neutral-dark-90: #000000E5;
  --warm-grey-50: #FAFAF7FF;
  --warm-grey-100: #F4F3EFFF;
  --warm-grey-200: #E8E6E1FF;
  --warm-grey-300: #DCD9D3FF;
  --warm-grey-400: #CBC7C0FF;
  --warm-grey-500: #B7B2AAFF;
  --warm-grey-600: #9D988FFF;
  --warm-grey-700: #7F7A72FF;
  --warm-grey-800: #5E5A54FF;
  --warm-grey-900: #3C3935FF;
  --alpha-kitkat-purple-48: #B043FF7A;
  --alpha-kitkat-purple-40: #B043FF66;
  --alpha-kitkat-purple-32: #B043FF52;
  --alpha-kitkat-purple-24: #B043FF3D;
  --alpha-kitkat-purple-16: #B043FF29;
  --alpha-kitkat-purple-8: #B043FF14;
  --alpha-kitkat-mint-48: #00E7EF7A;
  --alpha-kitkat-mint-40: #00E7EF66;
  --alpha-kitkat-mint-32: #00E7EF52;
  --alpha-kitkat-mint-24: #00E7EF3D;
  --alpha-kitkat-mint-16: #00E7EF29;
  --alpha-kitkat-mint-8: #00E7EF14;
  --neutral-dark-80: #000000CC;
  --neutral-dark-72: #000000B8;
  --neutral-dark-64: #000000A3;
  --neutral-dark-56: #0000008F;
  --neutral-dark-48: #0000007A;
  --neutral-dark-40: #00000066;
  --neutral-dark-32: #00000052;
  --neutral-dark-24: #0000003D;
  --neutral-dark-16: #00000029;
  --neutral-dark-8: #00000014;
  --neutral-dark-6: #0000000F;
  --neutral-dark-4: #0000000A;
  --neutral-dark-2: #00000005;
  --neutral-100: #F4F5F7FF;
  --neutral-200: #E6E8EBFF;
  --neutral-300: #D1D4D9FF;
  --neutral-400: #B9BDC3FF;
  --neutral-500: #9EA2A8FF;
  --neutral-600: #7E8289FF;
  --neutral-700: #5C6067FF;
  --neutral-800: #3D4045FF;
  --neutral-900: #111214FF;
  --red-50: #FEF2F2FF;
  --yellow-50: #FFFBEBFF;
  --yellow-100: #FEF3C7FF;
  --yellow-200: #FDE68AFF;
  --yellow-300: #FCD34DFF;
  --yellow-400: #FBBF24FF;
  --yellow-500: #F59E0BFF;
  --yellow-600: #D97706FF;
  --yellow-700: #B45309FF;
  --yellow-800: #92400EFF;
  --yellow-900: #78350FFF;
  --red-100: #FEE2E2FF;
  --red-200: #FECACAFF;
  --red-300: #FCA5A5FF;
  --red-400: #F87171FF;
  --red-500: #EF4444FF;
  --red-600: #DC2626FF;
  --red-700: #B91C1CFF;
  --red-800: #991B1BFF;
  --red-900: #7F1D1DFF;
  --green-50: #F0FDF4FF;
  --green-100: #DCFCE7FF;
  --green-200: #BBF7D0FF;
  --green-300: #86EFACFF;
  --green-400: #4ADE80FF;
  --green-500: #22C55EFF;
  --green-600: #16A34AFF;
  --green-700: #15803DFF;
  --green-800: #166534FF;
  --green-900: #14532DFF;
  --blue-50: #EFF6FFFF;
  --blue-100: #DBEAFEFF;
  --blue-200: #BFDBFEFF;
  --blue-300: #93C5FDFF;
  --blue-400: #60A5FAFF;
  --blue-500: #3B82F6FF;
  --blue-600: #2563EBFF;
  --blue-700: #1D4ED8FF;
  --blue-800: #1E40AFFF;
  --blue-900: #1E3A8AFF;
  --violet-50: #F6F1FFFF;
  --violet-100: #ECE3FFFF;
  --violet-200: #D3C0FFFF;
  --violet-300: #BBA0FFFF;
  --violet-400: #9C77FFFF;
  --violet-500: #7D53FFFF;
  --violet-600: #6432E6FF;
  --violet-700: #4A25B8FF;
  --violet-800: #371A8AFF;
  --violet-900: #23115BFF;
}

/**
 * Design system - semantic colors (light)
 */
:root {
  --content-primary: var(--neutral-900);
  --content-secondary: var(--neutral-800);
  --content-tertiary: var(--neutral-600);
  --content-disabled: var(--neutral-300);
  --content-placeholder: var(--neutral-500);
  --content-inversePrimary: var(--common-white);
  --content-inverseSecondary: var(--neutral-light-72);
  --content-inverseDisabled: var(--neutral-light-16);
  --content-highlighted: var(--kitkat-purple-500);
  --content-discount: var(--red-500);
  --content-critical: var(--red-500);
  --background-primary: var(--common-white);
  --background-secondary: var(--neutral-50);
  --background-tertiary: var(--neutral-200);
  --background-primary-main: var(--warm-grey-50);
  --background-inverse: var(--common-black);
  --background-input-normal: var(--common-white);
  --background-overlay-darkPrimary: var(--neutral-dark-24);
  --background-overlay-darkSecondary: var(--neutral-dark-64);
  --background-overlay-darkInteractive: var(--neutral-dark-16);
  --background-overlay-lightPrimary: var(--neutral-light-48);
  --background-overlay-lightSecondary: var(--neutral-light-72);
  --background-overlay-lightTertiary: var(--neutral-light-96);
  --background-overlay-lightInteractive: var(--neutral-light-24);
  --border-primary: var(--neutral-100);
  --border-primaryActivated: var(--neutral-900);
  --border-secondary: var(--neutral-200);
  --border-secondaryActivated: var(--neutral-900);
  --button-primaryActivated: var(--neutral-900);
  --button-highlight: var(--common-white);
  --button-highlightOutline: var(--kitkat-purple-500);
  --button-highlightHover: var(--alpha-kitkat-purple-8);
  --button-default: var(--common-white);
  --button-defaultOutlined: var(--neutral-300);
  --button-hover: var(--neutral-dark-8);
}
